<mat-card>
  <mat-card-title-group>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Large</mat-card-subtitle>
    <img
      mat-card-lg-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    />
  </mat-card-title-group>
  <mat-card-content>
    {{ longText }}
  </mat-card-content>
  <mat-card-footer>
    <mat-chip-list aria-label="Dog selection">
      <mat-chip cdkDrag> One </mat-chip>
      <mat-chip cdkDrag> Two </mat-chip>
    </mat-chip-list>
  </mat-card-footer>
</mat-card>
